*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: aliceblue;
    color: #333;
background-image: url;
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
nav ul{
    list-style: none;
    padding-right: 50px;
    justify-content: center;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    
    color:white;
    text-decoration:none;
}
main{
    padding: 20px;
}
section{
    margin-bottom: 30px;
    padding-right: 5px;
}
.logo{
    border-radius: 50%;
    width: 90px;
    height:auto;
    float: left;
    margin-bottom: 25px;
    position: relative;
    bottom:-52px;
  }
  .logos{
    border-radius: 50%;
    width: 110px;
    height:auto;
    float: right;
    margin-bottom: 25px;
    position: relative;
    top:-60px;
  }
 @media screen and (max-width:480px)
  {
    .logo{
        border-radius: 50%;
        width: 75px;
        height:auto;
        float: left;
        margin-bottom: 5px;
        position: relative;
        bottom:-30px;
      }
      .logos{
        border-radius: 50%;
        width: 80px;
        height:auto;
        float: right;
        margin-bottom: 6px;
        position: relative;
        top:-35px;
      }
  }
.bolded
{
    font-weight: bold;
    color:blue;
}
.project{
    background-color: grey;
    padding: 10px;
    margin-bottom: 20px;
}
.project h3{
    margin-bottom: 4px;
}
